body { 
    background-color:rgb(248, 245, 229);
    color: rgb(12, 12, 44);
    background-image:white;
    font-family: "Trebuchet MS";
    width:100%
    margin: 8px;
    margin-top: 50px;
    margin-right: 150px ;
    margin-bottom: 8px;
    margin-left: 200px;

    } 
    header, footer, main {
        
        }
    
    p {
        margin-right: 150;
    }
 {
    margin-left: -200px;
    margin-top: 1px; 
}
h4 {
    color:blueviolet
}