body { 
    background-color:rgb(248, 245, 229);
    color: rgb(12, 12, 44);
    background-image:white;
    font-family: "Trebuchet MS";
    margin: 8px;
    margin-top: 8px;
    margin-right: 150px auto;
    margin-bottom: 8px;
    margin-left: 150px;

    } 
    header, footer, main {
        
        }
